body {
  margin: 0;
  padding: 0;
  background: #06502a;
  /* display: grid; 
  place-content: center;
  /* margin-top: 100px; */
  font-family: Helvetica, sans-serif;
  height: 100vh;
  width: "100%";
  /* background-image: url("/fondoE.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.box {
  width: 80%;
  height: 105px;
  padding: 10%;
  font-size: 1.5rem;
  border-radius: 10%;
  background-color: #2e7d32;
  color: aliceblue;
  display: grid;
  place-content: center;
  margin: 3px;
  align-items: center;
}

h2 {
  font-size: 5rem;
  margin: 2px;
}

h3 {
  font-size: 1.5rem;
  margin: 0px;
  color: aliceblue;
}

h4 {
  font-size: 1.5rem;
  margin: 0px;
  color: darkgreen;
}
b {
  color: navy;
}
.title {
  font-size: 1.2rem;
  font-style: oblique;
  font-weight: 800;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 100px;
  cursor: default;
}

/* Track */
::-webkit-scrollbar-track {
  background: #157c07;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #045322;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #04290c;
}
