body{
    margin: 0;
    background: rgba(236, 255, 241, 0.87);
    /* display: grid; */
    /* place-content: center; */
    /* margin-top: 100px; */
    font-family: Helvetica, sans-serif;
}

.box {
    width: 110px;
    height: 110px;
    padding: 20%;
    font-size: 1.5rem;
    background-color: #2e7d32;
    color: aliceblue;
    display: grid;
    place-content: center;
    margin: 3px;
    align-items: center;
  }

  h3{
    font-size: 0.5rem;
    color: aliceblue;
  }